[Unit]
Description=Glow Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/local/bin/glow-server serve
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=glow-server

[Install]
WantedBy=multi-user.target
